* {
  box-sizing: border-box;
  outline: none;
}

.container {
  width: 100%;
  overflow: auto;
}

body {
  margin: 30px;
}

.container div {
  position: relative;
  padding: 4px;
  width: 50%;
}

#keys {
  float: left;
  text-align: right;
}

#values {
  float: left;
  text-align: left;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  flex-direction: column;
  align-items: stretch;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
  width: 200px;
}

.form-inline input:focus {
  border: 1px solid #999;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}

form {
  float: left;
}

.autocomplete {
  position: relative;
  width: 200px;
}

.autocomplete input {
  padding: 10px;
  border: 1px solid #ddd;
}

.autocomplete input:focus {
  border: 1px solid #999;
}

.autocomplete-items {
  background: #eee;
  overflow: auto;
  width: inherit;
  position: absolute;
  z-index: 99;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-active {
  background-color: DodgerBlue;
  color: #ffffff;
}
